<div class="container">
  <div class="jumbotron">
    <h1 class="display-4 text-center">Esports Articles</h1>
  </div>
  <ul>
    {{#each articles}}
    <li>
      <a href={{this.url}}>{{this.headline}}</a>
      <p>{{this.summary}}</p>
    </li>
    {{/each}}
  </ul>
</div>