<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Mongo Scraper</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/crsimpson5/mongo-scraper">GitHub</span></a>
      </li>
    </ul>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <button class="btn btn-primary" id="scrape-btn">Scrape Articles</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="jumbotron text-center">
      <h1 class="display-4">Mongo Scraper</h1>
      <p class="lead">theScore Esports Edition</p>
    </div>

    <div class="px-5">
      {{#each articles}}
      <div class="card border-dark">
        <div class="card-header bg-dark">
          
        </div>
        <div class="card-body">
          <h5 class="card-title"><a href={{this.url}}>{{this.headline}}</a></h5>
          <p class="card-text">{{this.summary}}</p>
          <a href="articles/{{this._id}}" class="btn btn-primary float-right">View comments</a>
        </div>
      </div>
      <br>
      {{/each}}
    
      <p class="text-center">
        <a href="https://www.thescoreesports.com/home">theScore esports</a>
      </p>
    </div>
  </div>
</div>